# Descripci√≥n del dataset

[üîó Dataset kaggle link](https://www.kaggle.com/datasets/ikynahidwin/depression-student-dataset/data)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importar el dataset  
Importar el dataset y dar un vistazo r√°pido a sus caracter√≠sticas

In [3]:
# Import the dataset
dataset = pd.read_csv( "students_depression_dataset.csv" )
dataset.head(5)

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
1,Male,28,4.0,5.0,5-6 hours,Healthy,Yes,7,1,Yes,No
2,Male,25,1.0,3.0,5-6 hours,Unhealthy,Yes,10,4,No,Yes
3,Male,23,1.0,4.0,More than 8 hours,Unhealthy,Yes,7,2,Yes,No
4,Female,31,1.0,5.0,More than 8 hours,Healthy,Yes,4,2,Yes,No

In [4]:
dataset.describe()

,Age,Academic Pressure,Study Satisfaction,Study Hours,Financial Stress
count,502.000000,502.000000,502.000000,502.000000,502.000000
mean,26.241036,3.003984,3.075697,6.404382,2.928287
std,4.896501,1.390007,1.373490,3.742434,1.425053
min,18.000000,1.000000,1.000000,0.000000,1.000000
25%,22.000000,2.000000,2.000000,3.000000,2.000000
50%,26.500000,3.000000,3.000000,7.000000,3.000000
75%,30.000000,4.000000,4.000000,10.000000,4.000000
max,34.000000,5.000000,5.000000,12.000000,5.000000

## Retoques al dataset  
Retoques en cuanto a nombramiento de variables y algunas categor√≠as para mejor est√©tica, comprensi√≥n y facilidad de uso

In [5]:
# Rename columns
dataset.columns = [ "gender" , "age" , "academic_pressure" , "study_satisfaction" , "sleep_duration" , "dietary_habits" , "bad_thoughts" , "study_hours" , "financial_stress" , "fam_metal_ill_history" , "depression" ]
dataset.head(5)

,gender,age,academic_pressure,study_satisfaction,sleep_duration,dietary_habits,bad_thoughts,study_hours,financial_stress,fam_metal_ill_history,depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
1,Male,28,4.0,5.0,5-6 hours,Healthy,Yes,7,1,Yes,No
2,Male,25,1.0,3.0,5-6 hours,Unhealthy,Yes,10,4,No,Yes
3,Male,23,1.0,4.0,More than 8 hours,Unhealthy,Yes,7,2,Yes,No
4,Female,31,1.0,5.0,More than 8 hours,Healthy,Yes,4,2,Yes,No

In [6]:
# Show all sleep_duration values
dataset.loc[ :  , ["sleep_duration"] ].drop_duplicates()

      sleep_duration
0          7-8 hours
1          5-6 hours
3  More than 8 hours
9  Less than 5 hours

In [7]:
# Convert values in sleep_duration column
dataset['sleep_duration'] = dataset['sleep_duration'].replace({
    "7-8 hours": "7-8",
    "5-6 hours": "5-6",
    "More than 8 hours": ">8",
    "Less than 5 hours": "<5"
})

dataset.head(5)

,gender,age,academic_pressure,study_satisfaction,sleep_duration,dietary_habits,bad_thoughts,study_hours,financial_stress,fam_metal_ill_history,depression
0,Male,28,2.0,4.0,7-8,Moderate,Yes,9,2,Yes,No
1,Male,28,4.0,5.0,5-6,Healthy,Yes,7,1,Yes,No
2,Male,25,1.0,3.0,5-6,Unhealthy,Yes,10,4,No,Yes
3,Male,23,1.0,4.0,>8,Unhealthy,Yes,7,2,Yes,No
4,Female,31,1.0,5.0,>8,Healthy,Yes,4,2,Yes,No

In [8]:
# Group by os; agg sum screentime, appusage and batterydrain
os_grouped = dataset.groupby(
    "depression" , as_index=False
).agg({
    "study_hours": [ "mean" ],
    "academic_pressure": [ "mean" ],
    "study_hours": [ "mean" ],
    "financial_stress": [ "mean" ],
    "study_satisfaction": [ "mean" ],
    "fam_metal_ill_history": lambda x: (x == "Yes").mean() * 100
})
os_grouped

,depression,study_hours,academic_pressure,financial_stress,study_satisfaction,fam_metal_ill_history
,,mean,mean,mean,mean,<lambda>
0,No,5.652000,2.340000,2.504000,3.480000,44.4
1,Yes,7.150794,3.662698,3.349206,2.674603,50.0